[%- IF ctx.pref_ou && ctx.pref_ou != ctx.search_ou; %]
<span class="preflib">
    [% l('Preferred library: [_1]', '<span class="bold">' _ ctx.get_aou(ctx.pref_ou).name _ '</span>'); %]
</span>
[%- END; %]
