<!-- PINES Customizations -->

    <div class="pines_carousel_selector">
        <img alt="[% l('New Arrivals') %]" src="[% ctx.media_prefix %]/images/books.jpg" class="pines_carousel_selector_image"/><br/>
        <span class="pines_carousel_selector_text">[% l('New Library Materials') %]</span><br/>
        <br/>
        <form>
            [% INCLUDE build_org_selector_carousel show_loc_groups=1 %]
        </form>
    </div>

<!-- End PINES Customizations -->

    [% PROCESS carousels %]


