<div style="font-size:normal;padding:15px 0px 5px 12px;width:300px;font-style:italic;">
[%- l('If this is your first time logging in, please enter the last 4 digits of your phone number. Example: 0926'); %]
</div>
