<h1 style="text-align:center;">PINES</h1>

  <div>You recorded in-house use for the following {{transactions.length}} items:</div>
  <hr/>
  <ol>
    <li ng-repeat="checkout in transactions">
      <div>Barcode {{checkout.barcode}} used {{checkout.count}} times</div>
    </li>
  </ol>
  <hr/>
  <div>{{today | date:'short'}}</div>
