  <h1 style="text-align:center;">PINES</h1>
  <div>You renewed the following {{transactions.length}} items:</div>
  <hr/>
  <ol>
    <li ng-repeat="checkout in transactions">
      <div>Barcode: {{checkout.barcode}}<br/>
      Due: {{checkout.due_date | date:"M/d/yyyy"}}</div>
    </li>
  </ol>
  <hr/>
  <div>{{today | date:'short'}}</div>

