  <h1 style="text-align:center;">PINES</h1>
  <div>You checked in the following {{transactions.length}} items:</div>
  <hr/>
  <ol>
    <li ng-repeat="checkin in transactions">
      <div>Barcode: {{checkin.barcode}}<br/>
      Checkin date: {{checkin.backdate | date:"short"}}</div>
    </li>
  </ol>
  <hr/>
  <div>{{today | date:'short'}}</div>
